body {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 340px;
	  
	background-image: url("nib.png");
	 background-repeat:no-repeat;
	background-size:cover;
	font-size: 24px;
	font-weight: bold;
	
	
	color: #191919;
	
}

a { color: #323232;
font-weight: normal;
font-size: 20px;}

p { font-weight: bold;
font-size: 30px;
font-family: Cambria;}

 ul li:before {

         content: "\2666 \0020";
}
 ul {
    list-style: none;
}