body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 60px;
    margin-left: 420px;
	  
	background-image: url("leaf.png");
	 background-repeat:no-repeat;
	background-size:cover;
	font-size: 22px;
	font-weight: bold;
	
	
	color: #fffff0;
	
}

.red a { color: 	#DC143C 	;  
font-weight: normal;
font-size: 20px;}
.orange a { color:#FF4500 	;  
font-weight: normal;
font-size: 20px;}
.yel a { color: #DAA520	;  
font-weight: normal;
font-size: 20px;}
.yellow a { color: 	#808000 	;  
font-weight: normal;
font-size: 20px;}
.green a { color:#006400	;  
font-weight: normal;
font-size: 20px;}
p { font-weight: bold;
font-size: 30px;
font-family: Cambria;
color: 	#B22222;}

 ul li:before {

         content: "\2666 \0020";
}
 ul {
    list-style: none;
}

.title { text-align: center;
color: #ffdb58;}

.red { color:   	#DC143C;}

.orange{color: 	#FF4500;}
.yel { color: #DAA520;}
.yellow { color:  	#808000 ;}
.green{ color:  #006400;}
a { 
font-weight: normal;
font-size: 20px;}