header {
  padding: 30px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav { font-weight: bold;
  display: flex;
  justify-content: flex-end;
  color:  #ffdb58;
  font-size: 22px;
  font-family:'Lucida Bright';
}

header p {
  padding: 0 10px;
  margin: 0;
}

a { color:  #DAA520;
font-weight: bold; }

body { background-image: url("blu.png");
     background-repeat:no-repeat;

   background-size:cover; }
   
.container { font-size: 20px;
		      
text-align: left}

.jumbotron { color: #003366; }
			
<!---.jumbotron
{ background-image : url("lig.png");
 background-repeat:no-repeat;
	background-size:cover;} --->